.connection-tab {
    cursor: pointer;
    width: 100%;
    text-align:center; 
    border-bottom: 3px solid black;
    padding: 20px;
}

.selected-tab {
    background-color: cornflowerblue;
}

.not-selected-tab {
    background-color: rebeccapurple;
}

.not-selected-tab:hover {
    background-color: blueviolet;
}